<h1>All Sales Vinyl</h1>

<h3>Available Records</h3>

<!-- <form action="/albums" method="post"> -->
<!--   <div class="form-group"> -->
<!--     <label for="search_by">Search By</label> -->
<!--     <select name="search_by" id="search_by"> -->
<!--       <option value="name" selected="selected">Album Name</option> -->
<!--       <option value="artist">Artist Name</option>> -->
<!--       <option value="year">Release Year</option>> -->
<!--       <option value="genre">Genre</option> -->
<!--     <label for="search">Search</label> -->
<!--     <input id="search" name="search" class="form-control" type="text"> -->
<!--   </div> -->
<!--   <button type="submit" class="btn">Go!</button> -->
<!-- </form> -->

<form action="/albums" method="post">
  <div class="form-group">
    <label for="sort_by">Sort By</label>
    <select name="sort_by" id="sort_by">
      <option value="name" selected="selected">Album Name</option>
      <option value="artist">Artist Name</option>>
      <option value="year">Release Year</option>>
      <option value="genre">Genre</option>
    </select>
  </div>
  <button type="submit" class="btn">Sort!</button>
</form>

<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
      <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>

<a href="/albums/new">Add new album</a>